### 채널 별 월 매출액 테이블 만들기 (CTAS로 테이블 만들기)
* year-month
* channel
* uniqueUsers (총방문 사용자)
* paidUsers (구매 사용자)
* conversionRate (구매 사용자/총방문 사용자)
* grossRevenue (refund 포함)
* netRevenue (refund 제외)

In [ ]:
# ts, sessionid, userid로 구성된 테이블 만들기

%%sql

DROP TABLE IF EXISTS soooojin_lee.timestamp_userid;
CREATE TABLE soooojin_lee.timestamp_userid AS SELECT st.ts, usc.sessionid, usc.userid, usc.channel
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

SELECT * FROM soooojin_lee.timestamp_userid LIMIT 5;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2019, 10, 18, 14, 14, 5, 100000), '00029153d12ae1c9abe59c17ff2e0895', 1491, 'Organic'),
 (datetime.datetime(2019, 8, 10, 16, 33, 14, 980000), '0006246bee639c7a7b11a08e34dd3cc6', 117, 'Youtube'),
 (datetime.datetime(2019, 5, 22, 8, 2, 29, 360000), '0007cda84fafdcf42f96c4f4adb7f8ce', 935, 'Google'),
 (datetime.datetime(2019, 5, 2, 15, 24, 33, 963000), '000c076c390a4c357313fca29e390ece', 780, 'Naver'),
 (datetime.datetime(2019, 9, 21, 21, 16, 29), '000d54aadcedee0739d39127955f2cdb', 1357, 'Instagram')]

In [ ]:
# paid user 구하기
%%sql

SELECT *
FROM soooojin_lee.timestamp_userid tu
LEFT JOIN raw_data.session_transaction st ON tu.sessionid = st.sessionid
WHERE tu.userid = 989 AND st.amount IS NOT NULL
ORDER BY 1;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[(datetime.datetime(2019, 6, 3, 13, 20, 32, 383000), 'c7c3dd47a945b8fe55d8c3f6d8b0484d', 989, 'Instagram', 'c7c3dd47a945b8fe55d8c3f6d8b0484d', False, 148),
 (datetime.datetime(2019, 6, 3, 13, 28, 37, 287000), 'b5d4adb2328af2ef23f9db2582ab3578', 989, 'Organic', 'b5d4adb2328af2ef23f9db2582ab3578', False, 89),
 (datetime.datetime(2019, 8, 11, 15, 1, 49), '9f36cd14c6a9b227707682b12bcd6264', 989, 'Instagram', '9f36cd14c6a9b227707682b12bcd6264', False, 148),
 (datetime.datetime(2019, 9, 2, 14, 17, 37), '6f2740b60c7473a5961e3420dbe810fa', 989, 'Youtube', '6f2740b60c7473a5961e3420dbe810fa', False, 28),
 (datetime.datetime(2019, 9, 16, 13, 53, 49), 'c343a47e067433b30af412ef231a5fba', 989, 'Organic', 'c343a47e067433b30af412ef231a5fba', False, 15),
 (datetime.datetime(2019, 9, 16, 13, 55, 4), 'f655d686ece627fa58304aa1b6bf8b39', 989, 'Youtube', 'f655d686ece627fa58304aa1b6bf8b39', False, 149),
 (datetime.datetime(2019, 9, 18, 13, 58, 52), 'a4a12a4351c5ec128756357a02b96fb6', 989, 'Naver', 'a4a12a4351c5ec128756357a02b96fb6', False, 115),
 (datetime.datetime(2019, 10, 4, 14, 19, 34), 'b612c1b5c00d1db3487d832c968ce9a0', 989, 'Organic', 'b612c1b5c00d1db3487d832c968ce9a0', False, 51)]

In [ ]:
# paid user 구하기
%%sql

SELECT TO_CHAR(tu.ts, 'YYYY-MM') AS month, tu.channel, COUNT(st.refunded)
FROM soooojin_lee.timestamp_userid tu
LEFT JOIN raw_data.session_transaction st ON tu.sessionid = st.sessionid
WHERE tu.userid = 989 AND st.amount IS NOT NULL
GROUP BY month, tu.channel
ORDER BY 1;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-06', 'Organic', 1),
 ('2019-06', 'Instagram', 1),
 ('2019-08', 'Instagram', 1),
 ('2019-09', 'Naver', 1),
 ('2019-09', 'Youtube', 2),
 ('2019-09', 'Organic', 1),
 ('2019-10', 'Organic', 1)]

In [ ]:
# gross revenue 구하기
%%sql

SELECT TO_CHAR(tu.ts, 'YYYY-MM') AS month, tu.channel, SUM(st.amount) AS gross_revenue
FROM soooojin_lee.timestamp_userid tu
JOIN raw_data.session_transaction st ON tu.sessionid = st.sessionid
GROUP BY month, tu.channel
ORDER BY 1;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Organic', 1846),
 ('2019-05', 'Naver', 867),
 ('2019-05', 'Youtube', 529),
 ('2019-05', 'Facebook', 1199),
 ('2019-05', 'Google', 580),
 ('2019-05', 'Instagram', 959),
 ('2019-06', 'Naver', 1090),
 ('2019-06', 'Organic', 1129),
 ('2019-06', 'Facebook', 1578),
 ('2019-06', 'Youtube', 1042),
 ('2019-06', 'Google', 947),
 ('2019-06', 'Instagram', 1462),
 ('2019-07', 'Facebook', 2222),
 ('2019-07', 'Google', 1558),
 ('2019-07', 'Organic', 1600),
 ('2019-07', 'Instagram', 1896),
 ('2019-07', 'Youtube', 2210),
 ('2019-07', 'Naver', 1547),
 ('2019-08', 'Instagram', 2129),
 ('2019-08', 'Naver', 1829),
 ('2019-08', 'Facebook', 1009),
 ('2019-08', 'Organic', 1643),
 ('2019-08', 'Google', 2210),
 ('2019-08', 'Youtube', 987),
 ('2019-09', 'Facebook', 2270),
 ('2019-09', 'Naver', 1996),
 ('2019-09', 'Youtube', 1301),
 ('2019-09', 'Google', 1872),
 ('2019-09', 'Instagram', 1260),
 ('2019-09', 'Organic', 1267),
 ('2019-10', 'Youtube', 2492),
 ('2019-10', 'Organic', 2762),
 ('2019-10', 'Instagram', 2568),
 ('2019-10', 'Naver', 2695),
 ('2019-10', 'Facebook', 1650),
 ('2019-10', 'Google', 2150),
 ('2019-11', 'Google', 2286),
 ('2019-11', 'Instagram', 2116),
 ('2019-11', 'Facebook', 1678),
 ('2019-11', 'Youtube', 3532),
 ('2019-11', 'Naver', 2234),
 ('2019-11', 'Organic', 2626)]

In [ ]:
# net revenue 구하기
%%sql

SELECT TO_CHAR(tu.ts, 'YYYY-MM') AS month, tu.channel,
  SUM(CASE WHEN st.refunded IS False THEN st.amount ELSE 0 END)
FROM soooojin_lee.timestamp_userid tu
JOIN raw_data.session_transaction st ON tu.sessionid = st.sessionid
GROUP BY month, tu.channel
ORDER BY 1;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Organic', 1571),
 ('2019-05', 'Naver', 844),
 ('2019-05', 'Google', 580),
 ('2019-05', 'Youtube', 529),
 ('2019-05', 'Facebook', 997),
 ('2019-05', 'Instagram', 770),
 ('2019-06', 'Youtube', 1042),
 ('2019-06', 'Instagram', 1418),
 ('2019-06', 'Facebook', 1578),
 ('2019-06', 'Google', 947),
 ('2019-06', 'Naver', 1090),
 ('2019-06', 'Organic', 940),
 ('2019-07', 'Organic', 1600),
 ('2019-07', 'Naver', 1547),
 ('2019-07', 'Youtube', 2037),
 ('2019-07', 'Instagram', 1766),
 ('2019-07', 'Facebook', 2144),
 ('2019-07', 'Google', 1385),
 ('2019-08', 'Facebook', 1009),
 ('2019-08', 'Organic', 1606),
 ('2019-08', 'Instagram', 2001),
 ('2019-08', 'Naver', 1551),
 ('2019-08', 'Google', 1894),
 ('2019-08', 'Youtube', 950),
 ('2019-09', 'Youtube', 1301),
 ('2019-09', 'Google', 1691),
 ('2019-09', 'Facebook', 2270),
 ('2019-09', 'Naver', 1996),
 ('2019-09', 'Organic', 1267),
 ('2019-09', 'Instagram', 1122),
 ('2019-10', 'Youtube', 2319),
 ('2019-10', 'Facebook', 1641),
 ('2019-10', 'Google', 2098),
 ('2019-10', 'Organic', 2608),
 ('2019-10', 'Instagram', 2395),
 ('2019-10', 'Naver', 2695),
 ('2019-11', 'Facebook', 1678),
 ('2019-11', 'Youtube', 3331),
 ('2019-11', 'Google', 2235),
 ('2019-11', 'Organic', 2255),
 ('2019-11', 'Naver', 1987),
 ('2019-11', 'Instagram', 2116)]

최종 결과 테이블

In [ ]:
%%sql

DROP TABLE IF EXISTS soooojin_lee.monthly_summary;
CREATE TABLE soooojin_lee.monthly_summary AS (
  SELECT TO_CHAR(tu.ts, 'YYYY-MM') AS month, 
    tu.channel, 
    COUNT(DISTINCT tu.userid) AS unique_users, 
    COUNT(st.refunded) AS paid_users,
    ROUND(100 * COUNT(st.refunded) / NULLIF(COUNT(DISTINCT tu.userid), 0) ::numeric, 2) AS conversion_rate,
    SUM(st.amount) AS gross_revenue,
    SUM(CASE WHEN st.refunded IS False THEN st.amount ELSE 0 END) AS net_revenue
  FROM soooojin_lee.timestamp_userid tu
  LEFT JOIN raw_data.session_transaction st ON tu.sessionid = st.sessionid
  GROUP BY month, tu.channel
  ORDER BY 1, 2
);

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

SELECT * FROM monthly_summary

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Youtube', 244, 10, Decimal('4.10'), 529, 529),
 ('2019-07', 'Organic', 557, 24, Decimal('4.31'), 1600, 1600),
 ('2019-08', 'Facebook', 611, 19, Decimal('3.11'), 1009, 1009),
 ('2019-08', 'Instagram', 621, 29, Decimal('4.67'), 2129, 2001),
 ('2019-09', 'Youtube', 588, 16, Decimal('2.72'), 1301, 1301),
 ('2019-11', 'Facebook', 688, 26, Decimal('3.78'), 1678, 1678),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-08', 'Organic', 608, 27, Decimal('4.44'), 1643, 1606),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Instagram', 707, 36, Decimal('5.09'), 2568, 2395),
 ('2019-10', 'Organic', 709, 33, Decimal('4.65'), 2762, 2608),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Organic', 238, 18, Decimal('7.56'), 1846, 1571),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Google', 610, 29, Decimal('4.75'), 2210, 1894),
 ('2019-09', 'Facebook', 597, 29, Decimal('4.86'), 2270, 2270),
 ('2019-10', 'Youtube', 705, 36, Decimal('5.11'), 2492, 2319),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Naver', 398, 16, Decimal('4.02'), 1090, 1090),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Instagram', 567, 25, Decimal('4.41'), 1896, 1766),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Organic', 592, 23, Decimal('3.89'), 1267, 1267),
 ('2019-10', 'Google', 699, 31, Decimal('4.43'), 2150, 2098),
 ('2019-10', 'Naver', 713, 33, Decimal('4.63'), 2695, 2695),
 ('2019-11', 'Instagram', 669, 26, Decimal('3.89'), 2116, 2116),
 ('2019-11', 'Youtube', 677, 48, Decimal('7.09'), 3532, 3331)]